@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>eMandates Merchant Website</h1>
    <p class="lead">This is a test website for the eMandates Merchant Library.</p>
    <p>
        <a href="~/Products" class="btn btn-primary btn-lg">Browse products &raquo;</a>
    </p>
</div>
